* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white
}
img {
    margin: 0px;
}
.flex-container {
    margin: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    height: 700px;
}
h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.form {
    border: 4px #053614 solid;
    background-color: black;
    height: 400px;
    width: 290px;
}
.form__section {
    width: 85%;
}
.form__button {
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.form__checkbox {
    display: flex;
    flex-direction: row;
    width: 13;
}
.form__input__checkbox {
    margin: 10px;
    margin-right: 0px;
    width: 13px;
    height: 13px;
}
.label__check {
    margin: 0px;
    padding: 7.5px;
    font-size: small;
}

.form__input {
    width: 100%;
    padding: 5px;
    margin: 10px;
    background-color: blue;
    border-radius: 4px;
    border: 1px solid blue;
}
.form__input:hover {
    background-color: rgb(19, 19, 182);
    border: 1px solid rgb(19, 19, 182);
}
.form__input__submit {
    height: 45px;
    width: 25%;
    margin: 10px;
    background-color: rgb(206, 39, 39);
    border-radius: 4px;
    border: 1px solid rgb(206, 39, 39);
}
.form__input__submit:hover {
    background-color: rgb(152, 21, 21);
    border: 1px solid rgb(152, 21, 21);
}
.form__section__button {
    display: flex;
    justify-content: center;
}
.form__input__text {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 10px;
    background-color: black;
    border: 2px solid rgb(3, 43, 3);
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
}
.form__input__text:focus{
    background-color: rgb(12, 12, 12);
    outline: none;
    border-radius: 4px;
    border: 2px solid rgb(3, 43, 3);
}
